* {
  box-sizing: border-box;
}

body {
  background-color: $grayscale95Color;
  font-family: $primaryFont;
}

button, input {
  font-family: $primaryFont;
}

img, svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}
