body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin-block: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none
}

table {
  th {
    padding: 0;
  }

  td {
    padding: 0;
  }
}
