.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: $grayscale17Color;
  text-transform: uppercase;

  @media (max-width: 1440px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }

  &:not(:last-child) {
    margin-bottom: 48px;

    @media (max-width: 990px) {
      margin-bottom: 24px;
    }

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }
}

.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: $grayscale20Color;

  @media (max-width: 990px) {
    font-size: 12px;
  }
}
