$primaryFont: 'Hero';

$primaryColor: #e9cba7;

$grayscale100Color: #ffffff;
$grayscale100Color01: rgba(255, 255, 255, 0.1);
$grayscale95Color: #f3f3f3;
$grayscale94Color06: rgba(239, 239, 239, 0.6);
$grayscale85Color: #d9d9d9;
$grayscale73Color: #b9b9b9;
$grayscale70Color: #b2b2b2;
$grayscale60Color: #999999;
$grayscale56Color: #909090;
$grayscale49Color: #7e7e7e;
$grayscale20Color: #323232;
$grayscale17Color: #2c2c2c;
$grayscale17Color02: rgba(44, 44, 44, 0.2);
$grayscale6Color: #101010;
$grayscale0Color02: rgba(0, 0, 0, 0.2);
$grayscale0Color025: rgba(0, 0, 0, 0.25);
$grayscale0Color05: rgba(0, 0, 0, 0.5);
$grayscale0Color: #000000;
