.posts {
  &-list {
    display: flex;
    gap: 48px;

    @media (max-width: 1440px) {
      gap: 24px;
    }

    @media (max-width: 990px) {
      gap: 16px;
      width: 100%;
      max-width: 100%;
      padding-bottom: 16px;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 2.5px;
      background: $primaryColor;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2.5px;
      background: $grayscale17Color;
    }
  }

  &-item {
    width: calc(100% / 3 - 32px);

    @media (max-width: 1440px) {
      width: calc(100% / 3 - 16px);
    }

    @media (max-width: 990px) {
      width: calc(50% - 8px);
      min-width: calc(50% - 8px);
    }

    @media (max-width: 600px) {
      width: 100%;
      min-width: 100%;
    }

    .date {
      color: $grayscale0Color05;
    }
    
    .link {
      margin-left: auto;
    }
  }

  &-cover {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
