<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="section-body">
        <div class="product-card">
          <div class="product-card-side">
            <div class="product-card-item product-card-item-mobile-visible">
              <h1 class="product-card-title">Стул TEXAS экокожа серый</h1>
              <p class="product-card-article">Арт. ID4241766516</p>
              <button class="button-media">
                <svg class="button-media-icon">
                  <use xlink:href="./assets/icons/symbol/sprite.svg#heart-stroke"></use>
                </svg>
              </button>
            </div>
            <div class="product-card-media">
              <div class="product-card-media-item">
                <img class="product-card-media-image" src="./assets/images/products/card-1.jpg" alt="">
              </div>
              <div class="product-card-media-item">
                <img class="product-card-media-image" src="./assets/images/products/card-2.jpg" alt="">
              </div>
              <div class="product-card-media-item">
                <img class="product-card-media-image" src="./assets/images/products/card-1.jpg" alt="">
              </div>
              <div class="product-card-media-item">
                <img class="product-card-media-image" src="./assets/images/products/card-2.jpg" alt="">
              </div>
            </div>
            <a class="product-card-button" href="#">Открыть галерею</a>
          </div>
          <div class="product-card-main">
            <div class="product-card-item product-card-item-mobile-hidden">
              <h1 class="product-card-title">Стул TEXAS экокожа серый</h1>
              <p class="product-card-article">Арт. ID4241766516</p>
              <button class="button-media">
                <svg class="button-media-icon">
                  <use xlink:href="./assets/icons/symbol/sprite.svg#heart-stroke"></use>
                </svg>
              </button>
            </div>
            <div class="product-card-item">
              <p class="product-card-subtitle">Цвет дерева:</p>
              <div class="select-group">
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-material" value="Натуральный" checked>
                  <img class="select-group-image" src="./assets/images/product-options/material-1.jpg" alt="">
                  <span class="select-group-title">Натуральный</span>
                </label>
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-material" value="Мореный">
                  <img class="select-group-image" src="./assets/images/product-options/material-2.jpg" alt="">
                  <span class="select-group-title">Мореный</span>
                </label>
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-material" value="Черный">
                  <img class="select-group-image" src="./assets/images/product-options/material-3.jpg" alt="">
                  <span class="select-group-title">Черный</span>
                </label>
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-material" value="Беленый">
                  <img class="select-group-image" src="./assets/images/product-options/material-4.jpg" alt="">
                  <span class="select-group-title">Беленый</span>
                </label>
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-material" value="Серый">
                  <img class="select-group-image" src="./assets/images/product-options/material-5.jpg" alt="">
                  <span class="select-group-title">Серый</span>
                </label>
              </div>
            </div>
            <div class="product-card-item">
              <p class="product-card-subtitle">Цвет металла:</p>
              <div class="select-group">
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-metall" value="Черный муар RAL 9005" checked>
                  <img class="select-group-image" src="./assets/images/product-options/metal-1.jpg" alt="">
                  <span class="select-group-title">Черный муар RAL 9005</span>
                </label>
                <label class="select-group-item">
                  <input class="select-group-radio" type="radio" name="product-metall" value="белый матовый Ral 9003">
                  <img class="select-group-image" src="./assets/images/product-options/metal-2.jpg" alt="">
                  <span class="select-group-title">белый матовый Ral 9003</span>
                </label>
              </div>
            </div>
            <div class="product-card-item">
              <p class="product-card-subtitle">Ширина, см</p>
              <div class="select-group">
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-width" value="26.5" checked>
                  <span class="select-group-title">26.5</span>
                </label>
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-width" value="58">
                  <span class="select-group-title">58</span>
                </label>
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-width" value="70">
                  <span class="select-group-title">70</span>
                </label>
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-width" value="75.5">
                  <span class="select-group-title">75.5</span>
                </label>
              </div>
            </div>
            <div class="product-card-item">
              <p class="product-card-subtitle">Высота, см</p>
              <div class="select-group">
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-height" value="26.5" checked>
                  <span class="select-group-title">26.5</span>
                </label>
                <label class="select-group-item-alt">
                  <input class="select-group-radio" type="radio" name="product-height" value="58">
                  <span class="select-group-title">58</span>
                </label>
              </div>
            </div>
            <div class="product-card-item">
              <p class="product-card-price">
                <span class="product-card-price-current">330.00 BYN</span>
                <span class="product-card-price-old">330.00 BYN</span>
              </p>
            </div>
            <div class="product-card-controls">
              <button class="product-card-button">В корзину</button>
              <div class="block-media">
                <p class="block-media-title">Купить на маркетплейсе:</p>
                <ul class="block-media-list">
                  <li class="block-media-item">
                    <a class="block-media-link" href="#">
                      <img class="block-media-icon" src="./assets/images/social/wildberries.png" alt="">
                    </a>
                  </li>
                  <li class="block-media-item">
                    <a class="block-media-link" href="#">
                      <img class="block-media-icon" src="./assets/images/social/ozon.png" alt="">
                    </a>
                  </li>
                  <li class="block-media-item">
                    <a class="block-media-link" href="#">
                      <img class="block-media-icon" src="./assets/images/social/21vek.png" alt="">
                    </a>
                  </li>
                  <li class="block-media-item">
                    <a class="block-media-link" href="#">
                      <img class="block-media-icon" src="./assets/images/social/emall.png" alt="">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-card-item">
              <div class="accordion">
                <div class="accordion-head">
                  <button class="accordion-button">
                    Размеры
                    <span class="accordion-button-icon"></span>
                  </button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-body-content">
                    <div class="wysiwyg">
                      <table>
                        <thead>
                          <tr>
                            @@for (var i = 0; i < 4; i++) {
                              <th>Текст</th>
                            }
                          </tr>
                        </thead>
                        <tbody>
                          @@for (var i = 0; i < 4; i++) {
                            <tr>
                              @@for (var j = 0; j < 4; j++) {
                                <td>Текст</td>
                              }
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card-item">
              <div class="accordion accordion-expanded">
                <div class="accordion-head">
                  <button class="accordion-button">
                    Описание
                    <span class="accordion-button-icon"></span>
                  </button>
                </div>
                <div class="accordion-body" style="height: auto;">
                  <div class="accordion-body-content">
                    <div class="wysiwyg">
                      <table>
                        <thead>
                          <tr>
                            @@for (var i = 0; i < 4; i++) {
                              <th>Текст</th>
                            }
                          </tr>
                        </thead>
                        <tbody>
                          @@for (var i = 0; i < 4; i++) {
                            <tr>
                              @@for (var j = 0; j < 4; j++) {
                                <td>Текст</td>
                              }
                            </tr>
                          }
                        </tbody>
                      </table>
                      <p>Простая и стильная модель кухонного стула TEXAS подходит под различные интерьерные решения.</p>
                      <p>Поддерживающая спинка и сиденье изготовлены из экокожи. Данный материал не только приятен на ощупь, но также лёгок в уходе и долговечен. Дополнительно украшает модель декоративная стяжка на сиденье. </p>
                      <p>Металлический каркас повторяет форму сиденья, не выбиваясь из единого стиля, конструкция выдерживает нагрузку до 120 кг.<br>Стул TEXAS подойдёт для обустройства кафе или дома, позволит удобно расположиться в гостиной, кухне или столовой.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card-item">
              <div class="accordion">
                <div class="accordion-head">
                  <button class="accordion-button">
                    Дополнительная информация
                    <span class="accordion-button-icon"></span>
                  </button>
                </div>
                <div class="accordion-body">
                  <div class="accordion-body-content">
                    <div class="product-card-files">
                      <div class="product-card-files-item">
                        <a class="product-card-files-link" href="#">
                          Уход за деревом
                          <svg class="product-card-files-icon">
                            <use xlink:href="./assets/icons/symbol/sprite.svg#pdf"></use>
                          </svg>
                        </a>
                      </div>
                      <div class="product-card-files-item">
                        <a class="product-card-files-link" href="#">
                          Как правильно подобрать высоту стула
                          <svg class="product-card-files-icon">
                            <use xlink:href="./assets/icons/symbol/sprite.svg#pdf"></use>
                          </svg>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-card-controls-extra">
              <a class="button-primary-outline" href="#">Доставка</a>
              <a class="button-primary-outline" href="#">Гарантия и возврат</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="products-slider">
  <div class="container">
    <div class="products-slider-content">
      <h2 class="heading">Недавно смотрели</h2>
      <div class="swiper">
        <div class="swiper-wrapper">
          @@for (var i = 0; i < 5; i++) {
            <div class="swiper-slide">
              @@include('./product.html', { removeButton: '' })
            </div>
          }
        </div>
        <button class="swiper-button swiper-button-prev">
          <svg class="swiper-button-icon">
            <use xlink:href="./assets/icons/symbol/sprite.svg#arrow-left-small"></use>
          </svg>
        </button>
        <button class="swiper-button swiper-button-next">
          <svg class="swiper-button-icon">
            <use xlink:href="./assets/icons/symbol/sprite.svg#arrow-right-small"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
