.catalog-header {
  padding-bottom: 16px;
  border-bottom: 1px solid $grayscale85Color;

  @media (max-width: 768px) {
    padding-bottom: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 24px;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &-block {
    &:not(:last-child) {
      margin-bottom: 48px;

      @media (max-width: 1440px) {
        margin-bottom: 24px;
      }

      @media (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }
  
  &-title {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2;
    color: $grayscale6Color;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 1440px) {
      font-size: 48px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: 1440px) {
        margin-bottom: 16px;
      }

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }
    }
  }

  &-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: $grayscale6Color;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @media (max-width: 768px) {
      gap: 8px 16px;
    }

    & > * {
      @media (max-width: 768px) {
        flex: 1;
      }
    }
  }
}
